services:
  mongo:
    image: mongo:6.0
    volumes:
      - mongo_data:/data/db
    restart: always

  server:
    build:
      context: ./server
    expose:
      - "5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/hostelops
      - JWT_SECRET=supersecretkey
      - NODE_ENV=production
      - PORT=5000
    restart: always

  client:
    build:
      context: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    environment:
      - NODE_ENV=production
    restart: always

volumes:
  mongo_data:
