version: "3.9"

services:
  mongo:
    image: mongo
    container_name: hostelops-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build:
      context: ./server
    container_name: hostelops-server
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://mongo:27017/hostelops
      - JWT_SECRET=supersecretkey
      - NODE_ENV=development
    volumes:
      - ./server:/app
      - /app/node_modules

volumes:
  mongo_data:
